# Laravel specific
/src/vendor
/src/node_modules
/src/public/storage
/src/storage/*.key
.env
.env.backup
.phpunit.result.cache

# Laravel cache & logs
/src/storage/logs
/src/storage/framework/cache/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*
/src/bootstrap/cache/*

# IDE & editor stuff
.vscode
.idea
*.sublime-workspace
*.sublime-project

# OS junk
.DS_Store
Thumbs.db

# Node / build stuff
npm-debug.log
yarn-error.log
pnpm-debug.log
